body,html{ height:100%;}
body{ color: #333; font-size:14px;}
*{ box-sizing:border-box;}
body,p,ul,ol,li,h1,h2,h3,h4,h5,h6,dt,dd{ margin:0;}
ul,ol,li{ padding:0;}
ul,ol{ list-style-type:none;}

.clearfix{ clear:both;}
a:link,a:visited{ text-decoration:none;}

/*.mui-bar-nav{ margin-top:30px;}*/
