body,html{ height:100%;}
body{ color: #333; font-size:14px;}
*{ box-sizing:border-box;}
body,p,ul,ol,li,h1,h2,h3,h4,h5,h6,dt,dd{ margin:0;}
ul,ol,li{ padding:0;}
ul,ol{ list-style-type:none;}

.clearfix{ clear:both;}
a:link,a:visited{ text-decoration:none;}

.mui-content{ padding-bottom:20px;}
.mui-action-back{ color:#000;}
.mui-active .mui-tab-label,.mui-active .mui-icon{ color:#f00;}

//用户设置列表导航箭头样式



