body,html{ height:100%;}
body{ color: #666; font-size:14px;}
*{ box-sizing:border-box;}
body,p,ul,ol,li,h1,h2,h3,h4,h5,h6,dt,dd{ margin:0;}
ul,ol,li{ padding:0;}
ul,ol{ list-style-type:none;}
.themeColor{ color:#f00;}
.colorSub{ color:#f00;}
.colorBgSub{ background-color:#f00;}

//公共字体样式
.black{ color:#666;}
.primary{ color:#409EFF;}
.success{ color:#67C23A;}
.warning{ color:#EB9E05;}
.danger{ color:#FA5555;}
.info{ color:#878D99;}

.clearfix{ clear:both;}
a:link,a:visited{ text-decoration:none;}

.red{ color:#f00;}


.tabs{}
.tabs ul{ display:flex; text-align:center;}
.tabs ul li{ flex:1;}
.tabs ul li a{ color:#666;}
.tabs ul li span{ display:block;}
.tabs ul li a .mui-icon{ padding:2px 0; width:30px; height:30px; line-height:30px; margin:auto;}
.tabs ul li a .tabs-name{ font-size:12px;}
.tabs-active{ color:#f00 !important;}


